<% include partials/header %>
<div class="container">
<form action="/campgrounds" method="POST">
    <input type="text" class="form-control" name="name" placeholder="Enter name">
    <input type="text" class="form-control" name="image" placeholder="Enter image url">
    <input class="btn btn-lg btn-default" type="submit" >


</form>
</div>
<% include partials/footer %>