<% include partials/header.ejs %>

  <header class="jumbotron">
    <h1>Welcome to CampGrounds</h1>
    <p>View our handpicked Campgrounds</p>
    <a class="btn btn-lg btn-dark" href="/campgrounds">Visit Campgrounds</a>
</header>

<% include partials/footer.ejs %>