<% include ./partials/header.ejs %>

<h1>Login Page</h1>
<form aciton="/login" method="POST">
    <input type="text" name="username" placeholder="Enter Username">
    <input type="password" name="password" placeholder="enter password">
    <button>Login</button>

</form>
<% include partials/footer.ejs %>